<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 remmote.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Remmote_Credomaticpayment" setup_version="2.1.2">
    </module>
</config>