<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_onepage_controller_success_action">

       <observer name="shippingcorreosdecostarica_controller_success_action"  instance="Imagineer\ShippingCorreosDeCostaRica\Observer\RegistrarPedido" />

    </event>

</config>
