<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Magento\RecogerUruca\Model\Carrier\CustomShipping" type="Imagineer\RecogerUruca\Model\Carrier\Customshipping" />

</config>
